@{
    ViewBag.Title = "Jobs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/JobPortalScripts/JobController.js"></script>
<div ng-controller="JobController">
    {{test}}
</div>