@{
    ViewBag.Title = "Submissions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/JobPortalScripts/JobSubmissionController.js"></script>
<div ng-controller="JobSubmissionController">
    {{test}}
</div>